body
{
	font-family: arial;
	min-height: 1500px;
}


#title
{
	font-size: 2.7rem;
	color: #222;
	/*font-weight: bold;*/
	text-align: center;
	margin: 50px auto;
}


.grid
{
	margin: auto;
	width: 1366px;
	height: 934px;
	background-color: #ccc;

	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(19, 70px);
	grid-template-rows: repeat(13, 70px);
	grid-gap: 2px;
	padding: 2px;

	justify-items: center;
	align-items: center;
}


.n5
{
	color: #305b1f;
}

.n4
{
	color: #2f5da8;
}

.cell
{
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 2rem;
	background-color: #eee;
	/*border-top: 2px #ccc solid;*/
	/*border-left: 2px #ccc solid;*/
	box-sizing: border-box;

	width: 70px;
	height: 70px;
}

.cell:hover
{
	background-color: rgb(250,250,250);
	cursor: default;
}

.cell:active
{
	background-color: #ddd;
	cursor: default; /* or pointer */
}

.tooltip
{
	position: absolute;
	display: none;

	font-size: 1rem;
	color: white;
	background: #333;
	opacity: 0.95;

	width: 240px;
	min-height: 125px;
	top: 500px;
	left: 500px;
	padding: 10px;
}